.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .current {
    background-color: #000;
    color: white;
    pointer-events: none;
    border: 1px solid #000;
}

.pagination a:hover {
    background-color: #ccc;
}
